<%- include('partials/header') %>
<div class="account">
<h1 class="heading">Welcome <%= fname %>!</h1>
<p class="account">Welcome to our mock assessment portal! We're thrilled to have you on board. Here, you'll embark on a journey of learning, growth, and preparation for success. Whether you're gearing up for exams, honing your skills, or simply exploring new horizons, our platform is designed to support your aspirations.</p>
<form action="/upload" class="form upload" method="get">
    <button type="submit" class="btn btnUp account">Upload Question Paper</button>
</form>
</div>

<%- include('partials/footer') %>